body {
  margin: 0;
  padding: 0;

  font-family: Helvetica, arial, freesans, clean, sans-serif;
}

p {
  line-height: 1.4em;
}

.page-container {
  padding: 0 20px;
}

.header {
  background-color: #eee;
}

.header .user {
  float: right;
}

.header h1 {
  margin: 0;
  padding: 0;
}

.song .owner {
  float: left;

  font-size: 20pt;
}

.song .owner img {
  display: block;
  margin-bottom: 20px;
}

.song .info,
.song .tracks,
.song .collaborators {
  margin-left: 230px;
}

.tracks .waveforms {
  width: 100%;
  border-collapse: collapse;
}

.tracks .waveforms th {
  font-weight: normal;
  text-align: left;

  background-color: #eee;
  padding: 5px;
}

.tracks .waveforms th .name,
.tracks .waveforms th .revision {
  white-space: nowrap;
}

.tracks .waveforms td {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #e5e5e5;
}

.tracks .waveforms img {
  display: block;
  height: 140px;
  max-width: 100%;
  background-color: #cc3a00;
}

.tracks .waveforms .no-track {
  height: 140px;
}
