@import '../css/reset.css';
@import 'variables.less';
@import 'mixins.less';
@import 'dropdowns.less';
@import 'buttons.less';
@import 'button-groups.less';
@import 'grid.less';

@column-width: 60;
@gutter-width: 20;
@columns: 12;
@total-width: 100%;

