@import '../css/reset.css';
@import 'variables.less';
@import 'mixins.less';
@import 'dropdowns.less';
@import 'grid.less';

@column-width: 60;
@gutter-width: 0;
@columns: 12;
@total-width: 100%;

// COLOR SCHEME
@dkgrey:	#0A0A0A;
@plum:		#8C0048;
@mdplum: 	#7d003f;
@dkplum:    #4C0031;
@ltgrey:	#D9D9D9;

// OTHER VARS
@radius: 3px;

// GRADIENTS
.gradient (@origin: top, @start: #FFFFFF, @stop: #000000) {
    background-color: @start;
    background-image: -webkit-linear-gradient(@origin, @start, @stop);
    background-image: -moz-linear-gradient(@origin, @start, @stop);
    background-image: -o-linear-gradient(@origin, @start, @stop);
    background-image: -ms-linear-gradient(@origin, @start, @stop);
    background-image: linear-gradient(@origin, @start, @stop);
}
 
/* Implementation */
//#someDiv {
//    .gradient(left, #663333, #333333);
//}


//-----------------------------------------------------------------
// The main crap'ola
//-----------------------------------------------------------------

body, html { height: 100%; }

body {
	font-size: 16px;
	line-height: 1em;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

h2 {
	font-family: 'Cuprum', sans-serif;
	font-size: 1.3em;
	line-height: 1.8em;
}

small { 
	font-size: 0.7em;
	vertical-align:top;
	padding-left:5px;
}

header {
	.column(12);
	background-image: url('../img/header_bgtexture.jpg');
	background-repeat: repeat-x;
	background-color: @plum;
	height: 60px;
	border-bottom:1px solid @dkplum;

	h1 {
		display: inline-block;
		width:137px;
		height: 60px;
		background-image:url('../img/logo.png');

		span { visibility:hidden; }
	}
	nav {
		float: right;
		font-family: 'Cuprum', sans-serif;
		font-weight: 700;
		text-transform: uppercase;
		border-left:1px solid @mdplum;

		a {
			span.hidden { visibility:hidden; }
			span.toggle {
				display:block;
				height:40px;
				width:50px;
				padding-left:20px;
			}
		}

		ul {
			li {
				font-size: 0.8em;

				a {
					text-align: right;
				}
			}
		}
	}
}

nav > a {
	text-decoration:none;
}

section.sidebar {
	.column(2);
	.gradient(top, #231f20, #090909);
	color:@white;
	height:93%;
	min-width:165px;
	max-width:200px;
	margin-right:10px;

	.profile {
		width: 90%;
		margin: 10px auto;

		img {
			display:block;
			.border-radius(@radius);
			margin-bottom:10px;
		}
	}

	span.divider {
		height:1px;
		width:100%;
		background-color:@black;
		display:block;
	}
	
	.track-bank {
		width:90%;
		margin: 10px auto;
	
		span {
			display:inline-block;
			.border-radius(@radius);
			background-color:@black;
			padding: 3px 5px;
			margin:5px;
		}

		span:hover {
			cursor:move;
		}
	}

}

section.mix {
	height:93%;
	width:100%;
	min-width:250px;

	.mix-data {
		padding:10px;

		h2 {
			display:block;
			font-size:1.9em;
		}
	}
}