.menu-spacer {
  margin: 0 20px 0 18%;
}

.tracks .waveforms {
  width: 100%;
  border-collapse: collapse;
}

.tracks .waveforms tr {
  height: 140px;
}

.tracks .waveforms th {
  font-weight: normal;
  text-align: left;
  vertical-align: middle;

  background-color: #eee;
  padding: 5px;
}

.tracks .waveforms th .name,
.tracks .waveforms th .revision,
.tracks .waveforms th .record {
  white-space: nowrap;
  display: block;
}

.tracks .waveforms td {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #e5e5e5;
}

.tracks .waveforms img {
  display: block;
  height: 140px;
  max-width: 100%;
  background-color: #8c0048;
}

.tracks .waveforms form {
  margin: 10px;
  width: 100%;
}

.tracks .waveforms .no-track {
  height: 140px;
}
